# Rust and Solana-specific exclusions
target/
**/*/target/
**/*/target/debug/
**/*/target/release/
Cargo.lock
Cargo.toml.orig
.cargo/

# Node.js and TypeScript specific exclusions (for tests, etc.)
node_modules/
**/*/node_modules/
**/*/rocksdb/
**/*/accounts/
**/*/snapshot/	
*/*/test-ledger/
**/*/test-ledger/
/test-ledger	
dist/
build/
*.js.map
*.d.ts
.env
.env.*.local
.tsbuildinfo
.cursor/

# General IDE and OS exclusions
.DS_Store
.vscode/
.idea/
.env

# Solana specific build artifacts
.anchor/
keys/
ledger/
